@import "tailwindcss";
html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 3px solid rgba(99,102,241,0.18);
  outline-offset: 2px;
}